# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
intlist = [2,3,4,5,6,7,8,9,0]
intlist

[2, 3, 4, 5, 6, 7, 8, 9, 0]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [2]:
fruits = ('apple','banana','cherry')
fruits

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [3]:
numbers = [10,20,30,40]
num_tup = tuple(numbers)
num_tup

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [4]:
num = {1,2,3,4,5}
num

{1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [5]:
student = {'name':'Alice','age':20,'grade':'A'}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [6]:
[10,20,30,40,50][1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [7]:
fruits = ['apple','banana','cherry','orange']
fruits[2] = 'mango'
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [9]:
numbers = {1,2,3,4,5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [7]:
person = {'name':'John','age':25,'city':'New York'}
del person['age']
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [14]:
rang = range(0,10)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [15]:
sq_num = [x**2 for x in range(1,11)]
sq_num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [6]:
eve = tuple([i for i in range(2,11,2)])
eve

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [21]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [22]:
numbers = {1, 2, 3, 4, 5}

3 in numbers

True

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [23]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [24]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [25]:
def sum_list(a,type=list):
    return sum(a)

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [27]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set(numbers)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [28]:
word = 'hello'
lisword = [i for i in word]
lisword

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [29]:
a = (1, 2, 3, 4)
def tup_rev(b,type=tuple):
    c = b[::-1]
    return c

tup_rev(a)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [32]:
b = {a:a**2 for a in range(1,6)}
b

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [34]:
for i in b:
    print(i,b[i])

1 1
2 4
3 9
4 16
5 25

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [40]:
s = [chr(i) for i in range(97,102)]
s

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [47]:
num = [1,2,3]
alpha = ['a','b','c']
list(zip(num,alpha))

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [48]:
a = [10, 20, 30, 40, 50]
a.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [49]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [50]:
def large(c,type=list):
        return max(c)

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [51]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count('apple')

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [52]:
person = {'name':'Alice','age':25,'city':'New York'}
person['city']

'New York'

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [53]:
def dup_rem(a,type=list):
    q = set(a)
    return list(q)

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [54]:
def intersect(a,b,type=list):
    q = []
    for i in a:
        if i in b:
            q.append(i)
    return(q)

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [55]:
gen = [x**2 for x in range(1,11)]
gen

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [56]:
def sun_dic(a,type=dict):
    q = []
    for i in a:
        q.append(i)
    return sum(a)

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [58]:
s = [3, 1, 4, 1, 5, 9]
s.sort()
s

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [7]:
def lon_str(s,type=list):
    r=[]
    for i in s:
        r.append((len(i),i))
    y = max(r)[1]
    return y


s = ['my','GOD','is','biggest']
lon_str(s)

'biggest'

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [2]:
x = [1, 2, 3, 4, 5]
all(x)>0

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [4]:
d = tuple([(i,i**2) for i in range(1,6)])
d

((1, 1), (2, 4), (3, 9), (4, 16), (5, 25))

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [8]:
def tup_lis(a,type=list):
    sec_el =[]
    for i in a:
        sec_el.append(i[1])
    return sec_el

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [9]:
def flat_list(a,type=list):
    h = []
    for i in a:
        h.extend(i)

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [18]:
fruities = ["apple", "banana", "cherry"]


list(enumerate(fruities))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [20]:
r = ()
len(r)==0

True

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [22]:
list(range(0,21,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [23]:
def rev_list(a,type=list):
    return a[::-1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [25]:
{i:i**3 for i in range(1,6)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [26]:
a = [1, 2, 2, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [27]:
def lis_dict(a,type=list):
    p=[]
    for i in  a:
        p.append(i.keys())

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [8]:
def fib(n):
    y = [0,1]
    for i in range(2,n):
        m = y[i-1] + y[i-2]
        y.append(m)
        
    return y


fib(6)

[0, 1, 1, 2, 3, 5]

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [38]:
def uni_char(t,type=str):
    y=[i for i in t]
    return list(set(y))

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [39]:
def sor_lis(a,b):
    y = a.sort()
    g = b.sort()
    p = []
    p.extend(y)
    p.extend(g)
    return p.sort()

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [17]:
a = [1, 2, 3, 4, 5, 6]
odd = lambda f: f%2 == 1
y=list(filter(odd,a))
y

[1, 3, 5]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [9]:
b = [(1, 2), (3, 4), (5, 6)]
b_dict = {b[i][0]:b[i][1] for i in range(len(b))}
b_dict

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [18]:
def sym_dif(A,B):
    d=[]
    for i in A:
        if i not in B:
            d.append(i)
    for i in B:
        if i not in A:
            d.append(i)
    return d
    
    
sym_dif([1,2,3,4,5],[3,4,5,6,7,8,9])

[1, 2, 6, 7, 8, 9]

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [24]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
list3 = [3,4,5,6,7,8,9]
l1_l2 = [i for i in list1 if i in list2]
l2_l3 = [i for i in list2 if i in list3]
l1_l2_l3 = [i for i in l1_l2 if i in l2_l3]
l1_l2,l2_l3,l1_l2_l3

([4, 5], [4, 5, 6, 7, 8], [4, 5])

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [4]:
def fact(n):
    for i in range(n):
        if n <= 1:
            return 1
    return n*fact(n-1)

fact(5)

120

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [26]:
a = ["apple", "", "banana", "", "cherry"]
for i in a:
    if len(i) == 0:
        a.remove(i)
        
a

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [27]:
def rev_dict(d):
    new_dict = {}
    for i in d:
        new_dict[d[i]] = i
    return new_dict

rev_dict({'r':2,'e':5,'v':7})

{2: 'r', 5: 'e', 7: 'v'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [28]:
def even_int(a):
    h=[]
    for i in a:
        if i%2==0:
            h.append(i)
    return h

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [29]:
def first_t_el(g):
    h=[]
    for i in g:
        h.append(i[0])
    return h

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [40]:
a = [4,5,5,6,7,2,2,2,4,6,2]

for i in a:
    if a.count(i) > 1:
        b.append(i)

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [19]:
a = ['merciful','grace','good']
y = lambda x: len(x)
list(map(y,a))

[8, 5, 4]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [20]:
def avg(*args):
    return sum(args)/(len(args))

In [21]:
avg(3,4,5)

4.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [45]:
def fibo(n):
    y = [0,1]
    for i in range(2,n):
        y.append(y[i-1]+y[i-2])
    return y

In [47]:
fibo(7)

[0, 1, 1, 2, 3, 5, 8]

                                                             
                                                             ---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [48]:
lis_f = ["apple", "banana", "apple", "cherry"]
lis_c =[lis_f.count(i) for i in lis_f]
lis_c

[2, 1, 2, 1]

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [69]:
def rem(a,n):
    for i in range(len(a)):
        try:
            a.remove(n)
        except ValueError :
            pass
    return a


rem([4,5,5,6,7,2,2,2,4,6,2],2)

[4, 5, 5, 6, 7, 4, 6]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [71]:
def vow_stri(h,type=list):
    vow = ['a','e','i','o','u']
    voweled = []
    for i in h:
        if i[0] in vow:
            voweled.append(i)
    return voweled

vow_stri(['apple','grapes','orange','ham','melon'])

['apple', 'orange']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [80]:
def intersect(set1,set2):
    return set1.intersection(set2)

intersect({1,2,3,4,5,6,7},{1,4,5,7,8,9})

{1, 4, 5, 7}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [81]:
def flat(h):
    fl = []
    for i in h:
        for m in range(len(i)):
            fl.append(i[m])
            
    return fl

flat([[1,2],[3,4,5],[7,8]])

[1, 2, 3, 4, 5, 7, 8]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [82]:
def uni(l):
    a = set(l)
    return l == list(a)

uni([2,3,4,5,6]),uni([2,2,2,3,4])

(True, False)

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [85]:
import functools as fs
y = lambda x,y : x*y
a = [1,2,3,4,5,6,7,8]
fs.reduce(y,a)

#reduce takes as input a function and an iterable and concatenates the whole list into a single number by applying
#the function succesively on the elements of the iterable.
#for this it does (((((((1*2)*3)*4)*5)*6)*7)*8) since our function is x*y

40320

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [91]:
def lent_dic(a):
    g = {}
    for i in range(len(a)):
        g[a[i]]=len(a[i]) 
    return g

a = ['apple','ball','land','estate','yam']
lent_dic(a)

{'apple': 5, 'ball': 4, 'land': 4, 'estate': 6, 'yam': 3}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [2]:
def kant(t,type=str):
    vowels = ['a','e','i','o','u']
    kan = []
    q = t.lower()
    for i in q:
        if i in vowels:
            kan.append(i)
    return len(kan)

kant('Efua')

3

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [6]:
y = [(i,fact(i)) for i in range(1,6)]
y

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [10]:
def con_dict(t):
    a = t[0]
    for i in range(1,len(t)):
        a.update(t[i])
    return a


con_dict([{'m':2,'h':3,'r':5},{'p':6,'u':1},{'y':4,'m':9}])

{'m': 9, 'h': 3, 'r': 5, 'p': 6, 'u': 1, 'y': 4}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [12]:
def subset(h,u,type=set):
    return h.issubset(u)


subset({1,2,3},{1,2,3,4,5}),subset({2,3,4},{1,5,6,7})

(True, False)

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [52]:
#def sor_tup(r,type=list):
    
    
a  = [(1,2,3),(5,1,6),(2,3,4)]
sorted(a[i][1] for i in range(len(a)))
a

[(1, 2, 3), (5, 1, 6), (2, 3, 4)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [16]:
def pos_int(g,type=list):
    return [i for i in g if i>0]


pos_int([-1,-2,-3,0,1,2,3])

[1, 2, 3]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [17]:
def uni_set(g,h):
    return g.union(h)

uni_set({1,2,3},{4,5,6})

{1, 2, 3, 4, 5, 6}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [19]:
def pro_lis(t):
    i = 1
    for m in t:
        i*=m
    return i

pro_lis([1,2,3,4,5])

#Voila. I can actually implement this as a factorial function is I define my numbers in a succesive range.

120

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [20]:
def str_lis(y,type=list):
    h = ''
    for m in y:
        h+=m
    return h

str_lis(['G','O','D',' ','i','s',' ','g','o','o','d','.'])

'GOD is good.'

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [32]:
def sec_large(r,type=list):
    for i in range(1):
        r.remove(max(r))
    return max(r)


s=[2,3,4,5,6,6,7,8,0,9]
sec_large(s)

8

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [42]:
def sor_key(g,type=dict):
    h = []
    for i in g:
        h.append(i)
    y = sorted(h)
    return y

b = {'m':4,'y':6,'a':7,'t':6}
sor_key(b)

['a', 'm', 't', 'y']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [67]:
def com_ele(t,type=list):
    count = []
    for i in t:
        count.append(t.count(i))
    y =max(count)
    for i in t:
        if t.count(i) == y:
            return i
        break


com_ele([2,2,2,2,3,4,2,3,4,2])

2

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [53]:
def sor_first(y,type=list):
    return sorted(y)

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [56]:
def dup_rem(u):
    for i in u:
        if u.count(i)>1:
            u.remove(i)
    return u


g = [{'a':1,'b':2},{'a':5,'b':5},{'a':1,'b':2}]

dup_rem(g)

[{'a': 5, 'b': 5}, {'a': 1, 'b': 2}]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [57]:
def min_max(h,type=list):
    return min(h),max(h)

min_max([2,1,3,4,56,2])

(1, 56)

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [58]:
def lis_tup(a,b):
    c =[]
    for i in a:
        for o in b:
            c.append(i,o)
    return c

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [59]:
def rev_str_lis(p,type=list):
    y = []
    for i in p:
        y.append(i[::-1])
    return y

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [60]:
def odd_sum(y,type=list):
    odd = [i for i in y if i%2 == 1]
    return sum(odd)

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [62]:
def pali(r,type=str):
    return r ==r[::-1]

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [64]:
def medi(r,type=list):
    y = int(len(r)/2)
    if len(r)%2 == 0:
        med = (r[y] + r[y-1])/2
    else:
        med = r[y]
    return med


medi([1,2,3,4,5]),medi([1,2,3,4,5,6])

(3, 3.5)

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [65]:
#what does it mean by total value for each key. Do the keys repeat in dictionaries

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [72]:
def mode(t,type=list):
    counts = []
    for i in t:
        counts.append(t.count(i))
    y =max(counts)
    for i in t:
        if t.count(i) == y:
            return i
        else:
            pass

mode([2,3,5,5,2,4,5])

5

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [73]:
def sq_sum(f,type=list):
    t = [i**2 for i in f]
    return sum(t)

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [75]:
tup_lis = [(i,i**3) for i in range(1,6)]
tup_lis

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [86]:
def lis_prime(n):
    y = []
    for m in range(1,n+1):
        fac = []
        for i in range(1,m+1):
            if m%i == 0:
                fac.append(i)
        y.append(fac)
    pr = []
    for i in y:
        if len(i) == 2:
            pr.append(i[1])
    return pr
            
lis_prime(11)

[2, 3, 5, 7, 11]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```