# Practical_2: String and files

---

### Exercise 1:
Create a string variable `text` and assign it the value `"Python is amazing!"`.

```python
# Exercise 1
```

In [1]:
text = 'Python is amazing!'
text

'Python is amazing!'

---

### Exercise 2:
Find the length of the string `"Hello, World!"` and store it in a variable `length`.

```python
# Exercise 2
```

In [2]:
var = "Hello, World!"
length = len(var)
length

13

---

### Exercise 3:
Convert the string `"python programming"` to uppercase and store it in a variable `upper_text`.

```python
# Exercise 3
```

In [3]:
tex = "python programming"
upper_tex =tex.upper()
upper_tex

'PYTHON PROGRAMMING'

---

### Exercise 4:
Extract the first 5 characters from the string `"Artificial Intelligence"`.

```python
# Exercise 4
```

In [4]:
stri = "Artificial Intelligence"
stri[:4]

'Arti'

---

### Exercise 5:
Concatenate the strings `"Hello"` and `"World"` with a space in between.

```python
# Exercise 5
```

In [6]:
h = "Hello"
w = "World"

con = h + " " + w
con

'Hello World'

---

### Exercise 6:
Replace the word `"dog"` with `"cat"` in the string `"The quick brown dog jumps over the lazy dog."`.

```python
# Exercise 6
```

In [7]:
sentence = "The quick brown dog jumps over the lazy dog."
sentence.replace('dog','cat')

'The quick brown cat jumps over the lazy cat.'

---

### Exercise 7:
Split the string `"apple,banana,orange"` by commas and store the result in a list `fruits_list`.

```python
# Exercise 7
```

In [8]:
fruits = "apple,banana,orange"
fruits_list = [fruits.split(',')]

In [9]:
fruits_list

[['apple', 'banana', 'orange']]

---

### Exercise 8:
Use string formatting to create the sentence `"My name is Alice and I am 25 years old."`, where the name and age are variables.

```python
# Exercise 8
```

In [10]:
format_sent = ("My name is {a} and I am {b} years old".format(a = 'Alice',b='25'))

In [11]:
format_sent

'My name is Alice and I am 25 years old'

---

### Exercise 9:
Check if the string `"python"` is present in the sentence `"I love python programming"`.

```python
# Exercise 9
```

In [12]:
check_str = "I love python programming"

'python' in check_str

True

---

### Exercise 10:
Count the number of occurrences of the letter `"e"` in the string `"Elephant is an elegant animal"`.

```python
# Exercise 10
```

In [14]:
occur_str = "Elephant is an elegant animal."
occur_str.count('e')

3

---

### Exercise 11:
Remove any leading and trailing spaces from the string `"   Data Science   "`.

```python
# Exercise 11
```

In [15]:
sent_spl = "   Data Science   "
sent_spl.strip()

'Data Science'

---

### Exercise 12:
Convert the string `"100"` into an integer and store it in a variable `int_value`.

```python
# Exercise 12
```

In [16]:
string = "100"
int_value = int(string)
int_value

100

---

### Exercise 13:
Extract the substring `"pro"` from the string `"programming"`.

```python
# Exercise 13
```

In [17]:
pro_str = "programming"
pro_str[:3]

'pro'

---

### Exercise 14:
Check if the string `"data"` starts with `"da"` and ends with `"ta"`.

```python
# Exercise 14
```

In [18]:
string1 = "data"
string1.startswith('da') and string1.endswith('ta')

True

---

### Exercise 15:
Reverse the string `"machine learning"` and store the result in `reversed_text`.

```python
# Exercise 15
```

In [25]:
ori_text = "machine learning"
reversed_text = ori_text[::-1]
reversed_text

'gninrael enihcam'

---

### Exercise 16:
Convert the first letter of each word in the string `"machine learning is fun"` to uppercase.

```python
# Exercise 16
```

In [22]:
first_up = "machine learning is fun"
first_up.title()

'Machine Learning Is Fun'

---

### Exercise 17:
Create a multiline string representing a poem and store it in a variable `poem`.

```python
# Exercise 17
```

In [26]:
poem = ''' We move by SPIRIT not by formula 
Grace only the regular 
Soar and run and walk by WORD of GOD
'''

print(poem)

 We move by SPIRIT not by formula
Grace only the regular
Soar and run and walk by WORD of GOD

---

### Exercise 18:
Write a string to a file named `"output.txt"`.

```python
# Exercise 18
```

In [29]:
file = open('output.txt','w')
file.write('Trusting JESUS that is all!')
file.close()

---

### Exercise 19:
Read the contents of a file named `"data.txt"` and print it line by line.

```python
# Exercise 19
```

In [30]:
file = open('data.txt','r')
line = file.readline()
while line:
    print(line,end = '')
    line = file.readline()
file.close()

french
fries
are
nice

---

### Exercise 20:
Check if a file `"example.txt"` exists before opening it.

```python
# Exercise 20
```

In [32]:
try:
    with open('example.txt','r') as file:
        content = file.read()
except FileNotFoundError :
        print('File not found.')
except IOError:
        print('An IOEror occured.')

File not found.

---

### Exercise 21:
Append a new line `"This is a new line"` to an existing file `"notes.txt"`.

```python
# Exercise 21
```

In [33]:
notes = open('notes.txt','w')
notes.write('This is a new line')
notes.close()

---

### Exercise 22:
Read the contents of a file `"log.txt"` and store each line in a list `log_lines`.

```python
# Exercise 22
```

In [21]:
log_lines = []
log = open('log.txt','r')
for line in log:
    log_lines.append(line.strip())
log.close()
print(log_lines)

['Data analysis report', 'Love is a beautiful journey and experience.', 'Journey with GOD first.', 'And then from there watch HIM fill you with the beauty.', 'Experiencing love with GOD first makes everything worth it.']

---

### Exercise 23:
Create a new file `"report.txt"` and write the string `"Data analysis report"` to it.

```python
# Exercise 23
```

In [23]:
report = open('log.txt','a')
report.write("Data analysis report")
report.close()

---

### Exercise 24:
Replace the word `"error"` with `"issue"` in a file `"log.txt"`.

```python
# Exercise 24
```

In [25]:
log = open('log.txt','r')
lines = [(line.strip()).replace('report','issues') for line in log]
log.close()

In [10]:
log = open('log.txt','w')
log.writelines(lines)
log.close()

In [26]:
log = open('log.txt','r')
lines1 = log.readlines()
print(lines1)
log.close()

['Data analysis report\n', 'Love is a beautiful journey and experience.\n', 'Journey with GOD first.\n', 'And then from there watch HIM fill you with the beauty.\n', 'Experiencing love with GOD first makes everything worth it.\n', 'Data analysis report']

---

### Exercise 25:
Count the number of words in a text file `"document.txt"`.

```python
# Exercise 25
```

In [29]:
with open('log.txt','r') as file:
    content = file.read()
    words = content.split()
    word_count = len(words)
    print(word_count)
file.close()

37

---

### Exercise 26:
Write a Python script that reads a file `"essay.txt"` and prints the total number of lines, words, and characters.

```python
# Exercise 26
```

In [32]:
with open('log.txt','r') as file:
    lines = [line.strip() for line in file]
    print(len(lines))
    words = [line.split(' ') for line in lines]
    print(len(words))
    characters = [word.split() for word in words]
    print(len(characters))

file.close()

6
6

AttributeError: 'list' object has no attribute 'split'

---

### Exercise 27:
Copy the contents of one file `"source.txt"` to another file `"destination.txt"`.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a filename as input and returns the number of lines in the file.

```python
# Exercise 28
```

---

### Exercise 29:
Extract all the words from a text file `"article.txt"` that contain more than 5 characters.

```python
# Exercise 29
```

---

### Exercise 30:
Convert the contents of a file `"notes.txt"` to uppercase and save the result in another file `"uppercase_notes.txt"`.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python script that reads a file and removes all empty lines.

```python
# Exercise 31
```

---

### Exercise 32:
Open a file `"config.txt"` in both read and write mode.

```python
# Exercise 32
```

---

### Exercise 33:
Write a Python function that reads a file and prints the longest line in the file.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python script to count the frequency of each letter in a text file `"message.txt"`.

```python
# Exercise 34
```

---

### Exercise 35:
Write a Python script that reads a file and prints the total number of characters, excluding spaces.

```python
# Exercise 35
```

---

### Exercise 36:
Create a Python script to check whether a file is empty or not.

```python
# Exercise 36
```

---

### Exercise 37:
Write a Python function that reads a file and removes all punctuation marks from the text.

```python
# Exercise 37
```

---

### Exercise 38:
Create a Python function that writes a list of strings to a file, each string on a new line.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python script to count the number of lines that start with a specific letter (e.g., "A") in a text file.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that takes a string as input and writes it to a file `"output.txt"` in reverse order.

```python
# Exercise 40
```

---

### Exercise 41:
Write a Python script that reads a file and prints all the lines that contain the word `"Python"`.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python script that opens a file and removes all numeric digits from the file's content.

```python
# Exercise 42
```

---

### Exercise 43:
Write a Python script to find the most frequent word in a text file `"book.txt"`.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python script that reads a file and prints all the lines that contain exactly 5 words.

```python
# Exercise 44
```

---

### Exercise 45:
Write a Python script to read a file and print the first and last line of the file.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python script that checks if a file `"students.txt"` is writable.

```python
# Exercise 46
```

---

### Exercise 47:
Create a Python function that opens a file and returns the number of unique words in the file.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python script that reads a file and prints all lines in reverse order.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that reads a file and returns the most common letter in the text.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python script that reads a file and replaces every occurrence of `"Python"` with `"Java"`.

```python
# Exercise 50
```

---